ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

body {
    background-image: url("http://www.adolfogosalvez.com/one/images/portfolio/project-7/madrid06.jpg");
    background-size:cover;
    box-sizing: border-box;
}

 .imgHolder{
    display:inline-block;
    background:#000;
}
.item-fade{
    vertical-align:top;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
img:hover{
    opacity: 0.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


