body{
  padding: 0 auto;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: calibri;
  font-size: 16px;
  background-color: white;
  background-image: url("http://www.adolfogosalvez.com/one/images/portfolio/project-7/madrid06.jpg");
  background-repeat: no-repeat;
  background-position: block;
}


#nav{
  background-color: #222;

}


#nav_wrapper{
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#nav_ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;

}

#nav ul li{
  display: inline-block;
}

#nav ul li:hover{
  background-color: #333

}

#nav ul li a, visited{
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nav ul li a:hover{
  color: #ffff00;
  text-decoration: none;
}

#nav ul li:hover ul{
  display: block;
}

#nav ul ul{
  display: none;
  position: absolute;
  background-color: #333;
}

#nav ul ul li{
  display: block;

}

#nav ul ul li a,visited{
  color: white;
}

#nav ul ul li a:hover{
  color: #ffff00;
}


footer{
  display: block;
  margin-top: 30%;
  margin-bottom: 0 auto;
  padding: 10px;
  background-color: #222;
  color: white;
}


footer a,visited{
  color: white;
}

footer a:hover{
  color: #ffff00;
}

.tittle{
  possiton: absolute;
  margin-top: 20%;
  color: white;
}


div.body{
    position: relative;
    background-color: white;
    margin: 0 auto;
    margin-top: 15%;
    padding-top: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border: 0;
    font: inherit;
}

table {

    border-collapse: separate;
    border-spacing: 20px 30px;
}

.picture:hover{
    opacity: 0.0;
    filter: alpha(opacity=50);
}

div.lab{
    position: relative;
    background-color: white;
    margin: 0 auto;
    padding-top: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border: 0;
    font: inherit;
}



