body {
    overflow-y: scroll;
    background-image: url("http://www.walldevil.com/wallpapers/a43/wallpaper-beautiful-spain-toledo-background-computer-desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li:hover ul{
    display: block;
}

ul ul{
    display: none;
    position: relative;

}

ul ul li{
    display: block;
}

.active {
    background-color:#4CAF50;
}


.imgHolder{
    display:inline-block;
    background:#000;
}



.picture:hover{
    opacity: 0.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


div.home{

    color:white;
    position: relative;
    margin: 20%;
    margin-left: 44%;
}

div.about{

    position: relative;
    background-color: white;
    margin: 20%;
    padding: 10%;
    border: 0;
    font-size: 100%;
    font: inherit;


}

table {

    border-collapse: separate;
    border-spacing: 10px 50px;
}

div.contact{

    position: relative;
    background-color: white;
    margin: 20%;
    padding: 10%;
    border: 0;
    font-size: 100%;
    font: inherit;
}

div.map{

    position: relative;
    background-color: white;
    margin: 20%;
    padding: 10%;
    border: 0;
    font-size: 100%;
    font: inherit;
}